
/* The slider switch to change degrees unit */
.degrees-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox styles */
.degrees-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider (part of the switch which actually slides */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before{
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Make slider rounded */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current {
    margin-bottom: 1rem;
}

.current-description { 
    font-size: 2.5rem;
}

.current-temp {
    font-size: 3rem;
}

.label {
    font-size: 1rem;
}

.value {
    font-size: 2rem;
}

.current-city-name {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
}